http://${web_hostname} {
    log {
        output file ${caddy_access_log_path}
        format json
    }
    redir https://${web_hostname}{uri} permanent
}

https://${web_hostname} {
    log {
        output file ${caddy_access_log_path}
        format json
    }
    tls /etc/caddy/cloudflare-origin.crt /etc/caddy/cloudflare-origin.key
    reverse_proxy 127.0.0.1:${web_host_port}
}
